
#login {
    width: 100% !important;
    background: url('/assets/images/backgrounds/amasem_1.jpg') no-repeat !important;
    background-size: cover !important;

}

.logo {
    width: 128px;

}

.login-title {
    justify-content: center;
    align-items: center;
    display: flex;

}

.button {
    color: #34B0E1;
}

span.mat-mdc__label {
    color: white;
}
