.table-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.example-container {
    flex: 1 1 auto;
    overflow-y: auto;
    height: calc(100vh - 200px); /* Adjust based on the height of header and paginator */
}

.pagination {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
}

.table-header-fixed {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

/* Styles pour les squelettes de chargement */
.skeleton-loader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.skeleton-header,
.skeleton-row {
    height: 2rem;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.viewport {
    height: 100%;
    width: 100%;
}

.truncate {
    display: flex;
    align-items: center;
    width: 100%;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.truncate-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    margin-left: 10px; /* Optional */
}

.status-initial {
    color: blue;
}

.status-success {
    color: green;
}

.status-canceled {
    color: orange;
}

.status-failed {
    color: red;
}

.average-green {
    color: blue;
}

.average-none {
    color: red;
}

.no-wrap {
    white-space: nowrap;
}
