<div class="max-w-3xl">
    <form #specForm="ngForm" (ngSubmit)="updateGravite(specForm)" class="p-4 bg-card overflow-hidden">
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3">
                <mat-label>Libellé du niveau</mat-label>
                <textarea
                    [(ngModel)]="data.gravite.libelle"
                    [readonly]="!isEditing"
                    class="w-full"
                    matInput
                    name="libelle"
                    placeholder="Libellé"
                    required
                    rows="3"></textarea>
                <mat-icon
                    [svgIcon]="'heroicons_solid:bars-3-bottom-left'"
                    class="icon-size-5"
                    matPrefix></mat-icon>
                <mat-error *ngIf="specForm.controls.libelle?.invalid && specForm.controls.libelle?.touched">
                    Le libellé du niveau est requis.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3">
                <mat-label>Montant</mat-label>
                <input [(ngModel)]="data.gravite.montant"
                       [readonly]="!isEditing" type="number" name="montant" matInput placeholder="Entrez le montant du niveau" required>
                <mat-icon matSuffix>business</mat-icon>
                <mat-error *ngIf="specForm.controls.montant?.invalid && specForm.controls.montant?.touched">
                    Le montant du niveau est requis.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex justify-end mt-8">
            <button (click)="toggleEdit()" *ngIf="!isEditing" class="px-8 mr-2" color="accent" mat-flat-button
                    type="button">Modifier
            </button>
            <button *ngIf="isEditing" [disabled]="specForm.invalid" class="px-8 mr-2" color="accent" mat-flat-button
                    type="submit">Sauvegarder
            </button>
        </div>
    </form>
</div>
